@import "/scss/theme.scss";

div.partner-disclosed {
  padding: 15px;

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
    padding: 0 0 15px 0;
  }

  input {
    margin: 0 0 15px 0;
  }
}